node_modules/
.expo/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo
