<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.applevis.autodownload</string>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.applevis.viewing</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.applevis.AppleVisSwift</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>applevis</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
